.categories {
  overflow-x: auto;
  margin-bottom: 1.5rem;
  display: flex;
  padding-top: 1rem;

  .categoryWrapper {
    margin-left: 0.5rem;

    .categoryCard {
      height: 3rem;
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      background-color: #fff;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      cursor: pointer;
      transition: 0.3s;
      border: 1px solid #fff; 

      &:hover {
        transition: 0.3s;
        border-color: rgb(199, 199, 199);
      }

      &.active{
        border-color: rgb(9, 161, 42);
        color: rgb(9, 161, 42);
      }

      .image {
        width: 2rem;
        height: 2rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .title {
        font-size: 14px;
        white-space: pre;
        margin-right: 0.5rem;
      }
    }
  }
}

