.container {
  max-width: 450px;
  padding: 0 1rem;
  margin: 0 auto;
  background-color: aliceblue;
  min-height: 100vh;
  direction: rtl;
}

.sectionTitle {
  font-size: 14px;
  border-bottom: 1px solid #bdc3c7;
  color: #34495e;
  padding-bottom: 0.5rem;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: calc(100vh - 320px);
  overflow: hidden auto;

  .productCardWrapper {
    width: calc(50% - 0.5rem);
    margin-bottom: 0.5rem;
    margin-left: 0.5rem !important;
  }
}

.loadersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  .loaderWrapper {
    width: 48%;
    margin: 1rem 0;
  }
}
