.loader {
  width: 100%;

  & > div {
    background: linear-gradient(
      90deg,
      #eee 0%,
      #eee 35%,
      #ddd 45%,
      #ddd 55%,
      #eee 65%,
      #eee 100%
    );
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background-size: 400%;
    animation: loading 1s infinite;
  }
  .image {
    height: 15rem;
  }

  .title {
    height: 1.5rem;
    width: 70%;
  }

  .footer {
    height: 2.5rem;
  }
}

@keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
