.productCard {
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  padding: 0.5rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  height: 17.5rem;
  transition: 0.3s;

  &:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    transition: 0.3s;
  }

  .image {
    height: 11rem;
    width: 100%;
    margin-bottom: 0.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .content {
      width: 100%;
      margin-top: auto;

    .title {
      text-align: right;
      color: #34495e;
      font-size: 0.8rem;
      line-height: 1.5rem;
      width: 100%;
      margin-bottom: 0.5rem;
    }

    padding-right: 1rem;
    padding-left: 1rem;

    .footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price {
        display: flex;
        align-items: center;

        &_number {
          font-size: 10px;
        }
        &_unit {
          color: #415161;
          font-size: 12px;
          margin-right: 0.25rem;
        }
      }
    }
  }
}
