.button {
  border: 1px solid #ff661f;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.2s;
  padding: 0;

  & > a {
    color: inherit;
    text-decoration: none;
  }

  & > *{
    padding: 0rem 1.5rem 0.2rem;
    display: inline-block;
  }

  &.disabled {
    background-color: #ccc !important;
    border-color: #ccc !important;
    color: #fff !important;
    cursor: not-allowed;

    &:hover {
      background-color: #ccc !important;
      color: #fff !important;
    }
  }

  &.fullWidth {
    width: 100%;
  }

  &.outlined {
    background-color: transparent;
    color: #ff661f;

    &:hover {
      background-color: #ff661f;
      color: #fff;
      transition: 0.2s;
    }
  }

  &.filled {
    background-color: #ff661f;
    color: #fff;

    &:hover {
      background-color: #e75512;
      color: #fff;
      transition: 0.2s;
    }
  }
}
