.selectInput {
  select {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0rem 0.7rem 0.2rem;
    width: 100%;
    * {
      font-family: "iranyekan";
    }
  }

  .label{
      font-size: 14px;
      margin-bottom: 0.5rem;
      display: block;
  }
}
